swagger: "2.0"

info:
  description: "Simple Core Banking for basic operations, like movements between accounts and tax withdraw"
  version: "1.0.0"
  title: "Fortnight"
  contact:
    email: "renato.srdantas@gmail.com"
  license:
    name: "Apache 2.0"
    url: "https://github.com/srdantas/fortnight/blob/master/LICENSE"
host: "fortnight.banking.com"
basePath: "/accounts"
tags:
- name: "accounts"
  description: "Everything accounts operations"
- name: "operations"
  description: "Transaction Operations for accounts"
schemes:
- "https"
paths:
  /accounts:
    post:
      tags:
      - "accounts"
      summary: "Create new account"
      description: ""
      operationId: "createAccount"
      produces:
        - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "account for create"
        required: true
        schema:
          $ref: "#/definitions/Accounts"
      responses:
        "201":
          description: "Successful to create account"
        "400":
          description: "Invalid request"
        "409":
          description: "This account already exists"
  /accounts/{document}/debits:
    post:
      tags:
      - "operations"
      summary: "Create new debit"
      description: ""
      operationId: "createDebit"
      produces:
        - "application/json"
      parameters:
      - name: "document"
        in: "path"
        description: "Document of account that create debit"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "create a new debit"
        required: true
        schema:
          $ref: '#/definitions/Transactions'
      responses:
        "201":
          description: "Successful to debit money"
        "400":
          description: "Invalid request"
          schema:
            $ref: '#/definitions/TransactionInvalidResponse'
  /accounts/{document}/withdrawals:
    post:
      tags:
      - "operations"
      summary: "Create new withdraw"
      description: ""
      operationId: "createWithdraw"
      produces:
        - "application/json"
      parameters:
      - name: "document"
        in: "path"
        description: "Document of account that create withdraw"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "create a new withdraw"
        required: true
        schema:
          $ref: '#/definitions/Transactions'
      responses:
        "201":
          description: "Successful to withdraw money"
        "400":
          description: "Invalid request"
          schema:
            $ref: '#/definitions/TransactionInvalidResponse'
  /accounts/{document}/transfers:
    post:
      tags:
      - "operations"
      summary: "Create new transfers"
      description: ""
      operationId: "createTransfers"
      produces:
        - "application/json"
      parameters:
      - name: "document"
        in: "path"
        description: "Document of account that make a movement"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "create a new transfer for accounts"
        required: true
        schema:
          $ref: '#/definitions/Transfers'
      responses:
        "201":
          description: "Successful to transfer money"
        "400":
          description: "Invalid request"
definitions:
  Accounts:
    type: "object"
    properties:
      name:
        type: "string"
        description: "owner name of account"
      document:
        type: "string"
        description: "CPF of owner"
  Transactions:
    type: "object"
    properties:
      correlation:
        type: "string"
        description: "id of transaction"
      amount:
        type: "number"
        description: "value for movement, required value > 0"
  TransactionInvalidResponse:
    type: "object"
    properties:
      message:
        type: "string"
        description: "Sort description of error occurrent"
  Transfers:
    type: "object"
    properties:
      correlation:
        type: "string"
        description: "id of transaction"
      amount:
        type: "number"
        description: "value for debit, required value > 0"
      creditor:
        type: "object"
        properties:
          document:
            type: "string"
            description: "Account that receive transfer"
